<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="LogLevel">info</Property>
        <Property name="ConsolePattern">%d{dd-MM-yy HH:mm:ss.SSS} %-5level %-15c{1} - %msg%n</Property>
        <Property name="FilePattern">%d{dd-MM-yy HH:mm:ss.SSS} [%t] %-5level %-15logger{1} - %msg %ex{full}%n</Property>
    </Properties>
    <Appenders>
        <Console name="ConsoleError" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{${ConsolePattern}}" disableAnsi="false"/>
            <LevelRangeFilter minLevel="ERROR" maxLevel="WARN"/>
        </Console>
        <Console name="ConsoleInfo" target="SYSTEM_OUT">
            <PatternLayout pattern="${ConsolePattern}"/>
            <LevelRangeFilter minLevel="INFO" maxLevel="ALL"/>
        </Console>
        <RollingFile name="FileAppender" fileName="logs/log.log" filePattern="logs/$${date:yyyy-MM}/$${date:dd}/Aggregator-%d{MM-dd-yyyy}-%i.log.zip">
            <PatternLayout pattern="${FilePattern}"/>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="20 MB"/>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="ConsoleError"/>
            <AppenderRef ref="ConsoleInfo"/>
            <AppenderRef ref="FileAppender"/>
        </Root>
        <Logger name="myorg.aggregator" level="${LogLevel}" additivity="false">
            <AppenderRef ref="ConsoleError"/>
            <AppenderRef ref="ConsoleInfo"/>
            <AppenderRef ref="FileAppender"/>
        </Logger>
        <Logger name="myorg.aggregator.model" level="${LogLevel}" additivity="false">
            <AppenderRef ref="ConsoleError"/>
            <AppenderRef ref="ConsoleInfo"/>
            <AppenderRef ref="FileAppender"/>
        </Logger>
        <Logger name="myorg.aggregator.view" level="${LogLevel}" additivity="false">
            <AppenderRef ref="ConsoleError"/>
            <AppenderRef ref="ConsoleInfo"/>
            <AppenderRef ref="FileAppender"/>
        </Logger>
        <Logger name="myorg.aggregator.vo" level="${LogLevel}" additivity="false">
            <AppenderRef ref="ConsoleError"/>
            <AppenderRef ref="ConsoleInfo"/>
            <AppenderRef ref="FileAppender"/>
        </Logger>
    </Loggers>
</Configuration>